<!-- Main Sidebar Container -->
<aside class="main-sidebar" data-color="orange">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Logo -->
    <div class="logo">
      <a href="" class="simple-text logo-normal">
        <img src="assets/logo.png" width="130">
      </a>
    </div>
    <!-- Sidebar user panel (optional) -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills-orange nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="/products" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>Produtos</p>
          </a>
          <a routerLink="/product-stock" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-clipboard-check"></i>
            <p>Estoque de Produtos</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <div class="sidebar-background" style="background-image: url(assets/images.jpeg)"></div>
  <!-- /.sidebar -->
</aside>